NEXT_PUBLIC_SUPABASE_URL=https://thygquwhgvbawvvaqija.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_EYU2HpS-DM64QZzax_jgcw_LCjnnlhL
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
COUPLE_LEGACY_SPACE_ID=legacy-couple-space
COUPLE_USER_A_ID=
COUPLE_USER_A_DISPLAY_NAME=
COUPLE_USER_B_ID=
COUPLE_USER_B_DISPLAY_NAME=
NEXT_PUBLIC_RELATIONSHIP_START_DATE=2024-01-01
