NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
COUPLE_USER_A_EMAIL=
COUPLE_USER_A_PASSWORD=
COUPLE_USER_A_DISPLAY_NAME=
COUPLE_USER_B_EMAIL=
COUPLE_USER_B_PASSWORD=
COUPLE_USER_B_DISPLAY_NAME=
NEXT_PUBLIC_RELATIONSHIP_START_DATE=2024-01-01
